* {
    box-sizing: border-box;
}

body {
    background: url('../images/white-waves.png') repeat;
    font-family: Arial, Arial, Helvetica, sans-serif; 
    overflow: auto;
    color: #777777;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

header {
    background: #ffffff;
    border-bottom: 6px solid #cccccc;
    margin-bottom: 20px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
}

nav { 
    width: 200px;
    margin-top: 20px;
    text-align: center; 
    float: right;
}

nav ul li {
    display: inline;
}

nav a{
    color: #777777;
    font-size: 16px;
    padding: 5px 20px;
    border-right: 3px #777777;
    text-decoration: none
}



.wrapper {
    width: 960px;
    margin: 0 auto;

}